.user-dashboard-page {
  padding-inline: 2rem;
  max-width: 1000px;
  margin-inline: auto;
}

.user-dashboard-page h3 {
  font-weight: 600;
  margin-left: 5rem;
}
.up-btn {
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.up-btn i {
  margin-right: 0.5rem;
}
.add-new-list-btn {
  max-width: 200px;
  white-space: nowrap;
}
.body-up {
  padding-inline: 5rem;
}
.up-body {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
  height: 400px;
  overflow-y: auto;
}

.up-body::-webkit-scrollbar {
  width: 8px;
}

.up-body::-webkit-scrollbar-thumb {
  background-color: #577c8e49;
  border-radius: 4px;
}

.up-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.list-card-con {
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: translateY(5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.list-card-con:hover {
  transform: translateY(0);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.list-card-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-img {
  width: 90%;
  height: 100px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.image-list {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.card-title h3 {
  margin: 0;
  font-size: 18px;
}

.card-title p {
  margin: 5px 0 0;
  font-size: 12px;
}

.card-title span {
  font-weight: regular;
}

.card-date {
  position: relative;
  top: 1rem;
  font-size: 10px;
  color: #777;
}

.options {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.three-dots {
  font-size: 20px;
}

.options-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 120px;
  z-index: 10;
}

.options-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options-menu li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
}

.options-menu li:hover {
  background-color: #f1f8fb;
}
@media (max-width: 768px) {
  .up-body {
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
  }

  @media (max-width: 480px) {
    .up-body {
      grid-template-columns: 1fr;
      height: 200px;
    }
  }
}

/* add list */
.back-button {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;
  text-decoration: none;
  margin-top: 0.8rem;
}
.back-button button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.back-button h3 {
  font-weight: 600;
}
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.upload-label {
  background-color: #577c8e49;
  color: #345b6e;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 8px;
}

.file-input {
  display: none;
}

.image-preview {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  border: 2px dashed #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plus-sign {
  font-size: 36px;
  color: #ddd;
}
.input-list-con {
  width: 40%;
  margin-inline: auto;
  margin-top: 1rem;
}
.input-list-con input {
  width: 95%;
}
.input-list-con button {
  width: 100%;
  padding: 15px !important;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px !important;
  margin-bottom: 1rem;
  cursor: pointer;
}
